// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.left_half {
  position: absolute;
  top: 0;
  left: 0;
  right: 500px;
  bottom: 0;
  height: 100%;
  min-width: 540px;
}

.right_half {
  position: absolute;
  height: 100%;
  width: 500px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
}