<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @component_type.name %>
</p>


<%= link_to 'Edit', edit_component_type_path(@component_type) %> |
<%= link_to 'Back', component_types_path %>
